<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <title>noodleamp</title>
    <link href="//netdna.bootstrapcdn.com/bootswatch/2.1.1/spacelab/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/jqueryFileTree.css">
    <link rel="stylesheet" href="/static/css/noodleamp.css">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="span12">
          <h1>noodleamp</h1>
          <div class="now-playing">
            <span>Now Playing:</span>
            <span class="title"></span>
          </div>
          <div class="controls">
            <a href="#" class="play btn btn-success disabled">
              <i class="icon icon-play"></i>
              <span class="text">Play</span>
            </a>
          </div>
          <div class="file-list"></div>
        </div>
      </div>
    </div>
    <script src="http://code.jquery.com/jquery-1.9.0.min.js"></script>
    <script src="/static/js/jqueryFileTree.js"></script>
    <script src="/static/js/noodleamp.js"></script>
  </body>
</html>
